@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}

.cloudImage{
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inputField{
    position: relative;
    margin-bottom: 20px;
}

.formLabel{
    position: absolute;
    top: -6px;
    left: 100px;
    font-size: 11px;
    background-color: #fff;
    color: #087E8B;
    font-weight: 900;
    text-transform: uppercase;
}

.inputBox{
    width: 300px;
    height: 35px;
    border-radius: 30px;
    outline: 0;
    margin-inline: auto;
    padding-inline: 20px;
    display: block;
    font-weight: 500;
    border: 1px solid #ccc;
    box-shadow: 0;
}

.inputBox:focus{
    border: 1px solid #087E8B;
}

.inputBox::placeholder{
    font-size: 13px;
}

.formExample{
    font-size: 12px;
    margin-left: 100px;
    color: grey;
}

.formButton{
    width: 150px;
    height: 40px;
    border:0;
    box-shadow: none;
    outline: 0;
    border-radius: 27px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}

.createButton{
    background-color: #83C1A6;
    color:#000;
}

.createButton:hover{
    outline: 3px solid #83C1A6;
    background-color: #fff;
}

.cancelButton{
    background-color: #FF5A5F;
    color:#000;
    margin-left: 20px; 
}

.cancelButton:hover{
    outline: 3px solid #FF5A5F;
    background-color: #fff;
}

.errorMsg{
    font-size: 12px;
    color: #FF5A5F;
    margin-inline: 90px;
    display: block;
    height: 5px;
}

@media screen and (max-width: 1068px){
    .container{
        width: auto;
        grid-template-columns: 1fr;

    }
    .ImgContainer{
        display: none;
    }
    .formLabel{
        left: 25px;
    }
    .formExample{
        margin-left: 25px;
    }
}